*{
    margin: 0;
}
.head-container{
    background-color: #d9ce96;
    padding-bottom: 40px;
}
header {
    padding: 20px;
    margin-bottom: 30px;
}
.navbar-interact{
    display:flex;
    justify-content: space-between;
}
.navbar-interact ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
    gap:20px;
}
.navbar-interact ul li a{
    text-decoration: none;
    color: #4d4c49;
}
.container{
    margin-inline: 50px;
    display: flex;
    justify-content: space-between;
}
.container .right img{
    width: 300px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 8px 8px 4px #4d4c49;
}
.navbar-interact img{
    width: 50px;
    height: 50px;
}